*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  padding:0;
  margin:0;
  background-size: cover;
  background-color: #009933;
}

ul {
    list-style-type: none;
    margin: 15px 0px 0px 0px;
    padding: 0;
    overflow: visible;
    background-color: #333;
    vertical-align: top;
}

li {
    float: left;
    vertical-align: top;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px 18px 16px;
    text-decoration: none;
    vertical-align: top;
}

li a:hover {
    background-color: #4caf50;
     vertical-align: top;
}
.dropbtn {
	 background-color: #333;
    color: white;
    padding: 19px 16px 18px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4caf50;
}

.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
  position: center;
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
  position: relative;
  text-align: center;
  color: white;
  margin: 10px 0px 0px 0px;
  z-index: 0;
}
.bgvid{
  position:relative;
  left:0;
  top:0;
  width:100vw;
  position: center;
}
.active {
    background-color: #4caf50;
}
.footer1 {
	width: 100%; 
	height: 50px; 
	background: rgba(0, 102, 34, .5);
	display: inline-block;

}
.text-block {
  position: relative;
  color: #009933;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  display: inline-block;
}
.dirt-image {
  position: relative;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content1 {
    display: block;
}
.dropbtn1 {
    background-color: #4caf50;
    color: white;
    padding: 19px 16px 18px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.dropbtn2 {
    background-color: #4caf50;
    color: white;
    padding: 19px 16px 18px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -5% 85%;
    cursor: pointer;
    position: absolute;
}
.button_next {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -5% 4%;
    cursor: pointer;
    position: absolute;
}
.dropbtn:hover {
  background-color: #4caf50;
} 

